:root {
  --base-red: #f65247;
  --base-orange: #f0ad28;
  --base-yellow: #f4dd39;
  --base-green: #a5cb42;
  --base-blue: #51afe5;
  --base-purple: #565baf;

  --light-red: #f76359;
  --light-orange: #f2b53e;
  --light-yellow: #f5e04d;
  --light-green: #aed055;
  --light-blue: #62b7e8;
  --light-purple: #676bb7;

  --dark-red: #dd4a40;
  --dark-orange: #d89c24;
  --dark-yellow: #dcc733;
  --dark-green: #95b73b;
  --dark-blue: #499ece;
  --dark-purple: #4d529e;

  --font: "GoodDog Plain";
}
body {
  height: 100svh;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

.intro {
  border: none;
}

.upper-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Kanit";
  font-size: large;
  background-color: aliceblue;
  padding: 5px;
}

.answers > div {
  background-color: var(--base-purple);
  color: white;
  padding: 5px 10px;
}
.answers > div:hover {
  background-color: var(--dark-blue);
}

.answers {
  position: absolute;
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  column-gap: 10px;
}

.red {
  background-color: var(--light-red);
}

.game-panel {
  position: relative;
}

img.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

canvas {
  width: 100%;
  max-height: 100vh;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

canvas {
  border: 2px solid black;
}

.fondo-juego {
  width: 100vw;
  height: 100vh;
  background-image: url("../resources/images/background.jpg");
  background-size: cover;
  backdrop-filter: blur(5px);
}

.blurred {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.309);
  backdrop-filter: blur(10px);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.bg-gray {
  background-color: rgb(56, 56, 56);
}

.creditos-container {
  padding: 50px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

ul.creditos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: max-content;
}

ul.creditos > li {
  text-decoration: none;
  list-style: none;
  background-color: var(--dark-purple);
  padding: 10px;
  color: white;
}

.introButton {
  font-family: var(--font);
  padding: 10px;
  margin: 15px;
  font-size: 20px;
  border: 2px solid black;
  background-color: var(--base-red);
  cursor: pointer;
}

.animated {
  animation-name: colors;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes colors {
  0% {
    background-color: var(--base-red);
  }

  25% {
    background-color: var(--base-yellow);
  }

  50% {
    background-color: var(--base-green);
  }

  75% {
    background-color: var(--base-blue);
  }

  100% {
    background-color: var(--base-red);
  }
}

.introButton:hover {
  background-color: var(--dark-blue);
}

.draggable {
  background-color: white;
}

@font-face {
  font-family: "GoodDog Plain";
  src: url("../resources/fonts/GOODDP__.TTF");
}
.funny-text{
  font-family: var(--font);
  font-size: 40px;
  -webkit-text-stroke: 0.5px black;
  transition: color 0.5s ease-out;
}


.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}






.text-black{
  color: black;
}

body .multicolor-bg{
  background: linear-gradient(90deg, var(--base-red) 25%, rgb(0, 0, 0, 0) 25%), linear-gradient(90deg, var(--base-yellow) 50%, rgb(0, 0, 0, 0) 50%), 
    linear-gradient(90deg, var(--base-green) 75%, var(--base-blue) 75%);
  
}
h3{
  
  text-align:center; 
  font-size:80px; 
  
  color:white;

}
p{
  font-size:55px ;
   text-align:center;

}
input{
  font-size:40px; 
  display: block;
  flex: auto;


}




.alias-container {
  padding: 50px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.capturaButton {
  font-family: var(--font);
  padding: 10px;
  margin: 15px;
  font-size: 40px;
  border: 2px solid black;
  background-color:#676bb7;
  
  cursor: pointer;
  color: white;
}




