:root {
  --base-red: #f65247;
  --base-orange: #f0ad28;
  --base-yellow: #f4dd39;
  --base-green: #a5cb42;
  --base-blue: #51afe5;
  --base-purple: #565baf;

  --light-red: #f76359;
  --light-orange: #f2b53e;
  --light-yellow: #f5e04d;
  --light-green: #aed055;
  --light-blue: #62b7e8;
  --light-purple: #676bb7;

  --dark-red: #dd4a40;
  --dark-orange: #d89c24;
  --dark-yellow: #dcc733;
  --dark-green: #95b73b;
  --dark-blue: #499ece;
  --dark-purple: #4d529e;

  --font: "GoodDog Plain";
}
body {
  height: 100svh;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

body .multicolor-bg{
  background: linear-gradient(90deg, var(--base-red) 25%, rgb(0, 0, 0, 0) 25%), linear-gradient(90deg, var(--base-yellow) 50%, rgb(0, 0, 0, 0) 50%), 
    linear-gradient(90deg, var(--base-green) 75%, var(--base-blue) 75%);
  
}

.intro {
  border: none;
}

.upper {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--dark-purple);
}

.h-max-full {
  max-height: 100vh;
}

.upper-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 10px;
  top: 0;
  right: 0;
  font-family: "Kanit";
  padding: 5px;
  color: white;
}

.span-nombre {
  font-family: var(--font);
  font-size: 2rem;
  color: white;
  padding: 1px 2px;
  border: none;
}

.btn-exit {
  color: white;
  background-color: var(--dark-red);
}

.btn-music {
  color: black;
  background-color: var(--dark-yellow);
}

.answers > div {
  font-family: "Kanit";
  border: 2px solid black;
  background-color: var(--light-purple);
  color: white;
  padding: 2px 5px;
  display: flex;
  align-items: center;
}
.answers > div:hover {
  background-color: var(--base-purple);
  cursor: grab;
}

.answers {
  width: 100%;
  color: black;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  column-gap: 5px;
}

.red {
  background-color: var(--light-red);
}

.game-panel {
  position: relative;
}

img.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.game-container {
  border: 2px solid black;
  flex-direction: column;
  display: flex;
}

.canvas-container {
  display: grid;
  place-items: center;
  place-content: center;
  position: relative;
  width: 100%;
}

.canvas-container > canvas {
  width: 100%;
}

button {
  border: none;
  padding: 2px 4px;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .game-container {
    width: 350px;
  }
}

@media screen and (min-width: 800px) {
  .game-container {
    width: 500px;
  }
}

@media screen and (min-width: 1000px) {
  .game-container {
    width: 800px;
  }

  .upper {
    font-size: 1.5rem;
  }
  button {
    padding: 5px 10px;
  }
}

audio {
  display: none;
}
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.fondo-juego {
  width: 100vw;
  height: 100vh;
  background-image: url("../resources/images/background.jpg");
  background-size: cover;
  backdrop-filter: blur(5px);
}

.blurred {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.309);
  backdrop-filter: blur(10px);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.text-black{
  color: black;
}

.funny-text{
  font-family: var(--font);
  font-size: 40px;
  -webkit-text-stroke: 0.5px black;
  transition: color 0.5s ease-out;
}

.funny-text:hover{
  color: var(--light-purple);
  cursor: pointer;

}

.flex-col {
  flex-direction: column;
}

.creditos-container {
  padding: 50px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.introButton {
  font-family: var(--font);
  padding: 10px;
  margin: 15px;
  font-size: 20px;
  border: 2px solid black;
  background-color: var(--base-red);
  cursor: pointer;
}

.animated {
  animation-name: colors;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes colors {
  0% {
    background-color: var(--base-red);
  }

  25% {
    background-color: var(--base-yellow);
  }

  50% {
    background-color: var(--base-green);
  }

  75% {
    background-color: var(--base-blue);
  }

  100% {
    background-color: var(--base-red);
  }
}

.introButton:hover {
  background-color: var(--dark-blue);
}

.draggable {
  background-color: white;
}

@font-face {
  font-family: "GoodDog Plain";
  src: url("../resources/fonts/GOODDP__.TTF");
}

/*-------------------------*/

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #319caf;

}

.card {
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0px 0px 12px 1px #264c53;
  height: fit-content;
  z-index: 1;
}

.card-header {
  height: 70px;
  padding: 20px;
  color: white;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #cf9d30 30%, #b1882b 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #fcf9d5 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #b38a2c 100%);
}

.card-body {
  padding: 20px;
  background-color: white;
}

.row {
  box-shadow: 0px 0px 8px 0px #8a8a96;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: transform .2s;
  padding: 5px;
  font-weight: 600;
  justify-content: space-between;
  display: flex;
}

.row:hover {
  background-color: #f0ad28;
  transform: scale(1.1);
}

.img {
  position: absolute;
  z-index: 0;
  width: 300px;
  left: 60px;
}

.img:hover {
  animation: zoom-in-zoom-out 1s ease infinite;
} 

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.img2 {
  position: absolute;
  z-index: 0;
  width: 400px;
  right: 10px;
}

.img2:hover {
  transition: all 0.65s;
  transform: rotateY(360deg);

}

.back-container {
  position: absolute;
  right: 100px;
  top: 70px;
}

.back-buttton {
  background-color: #51afe5;
  padding: 10px 25px;
  border: 0;
  border-radius: 10px 5px;
  color: white;
  font-size: 16px;
  box-shadow: 0px 0px 8px 0px #264c53;
  cursor: pointer;
}

.back-buttton:hover {
  background-color: #3a9bd3;
  transform: scale(1.1);
}
.funny-text {
  font-family: var(--font);
  font-size: 40px;
  -webkit-text-stroke: 0.5px black;
  transition: color 0.5s ease-out;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.text-black {
  color: black;
}

body .multicolor-bg {
  background: linear-gradient(90deg, var(--base-red) 25%, rgb(0, 0, 0, 0) 25%),
    linear-gradient(90deg, var(--base-yellow) 50%, rgb(0, 0, 0, 0) 50%),
    linear-gradient(90deg, var(--base-green) 75%, var(--base-blue) 75%);
}
h3 {
  text-align: center;
  font-size: 80px;
  color: white;
}
p {
  font-size: 55px;
  text-align: center;
}
input.form-control {
  padding: 5px 10px;
  border: 1px solid gray;
  outline: none;
  font-family: var(--font);
  border-radius: 5px;
  font-size: 2rem;
  display: block;
  flex: auto;
}

.alias-container {
  padding: 50px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.capturaButton {
  font-family: var(--font);
  padding: 10px;
  margin: 15px;
  font-size: 40px;
  border: 2px solid black;
  background-color: #676bb7;

  cursor: pointer;
  color: white;
}
